/* Change the styles below in order to customize your template */

body{
	font-family: "Roboto Condensed", Helvetica, Arial; 
	font-weight: 400; 
	font-size: 12pt; 
	color: #CBCBCB; 
	background-color: #333; 
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Condensed", Helvetica, Arial;
	font-weight: 700; 
}

h1{font-weight: bold; font-size: 34pt; letter-spacing: -1px; color: #FFF; line-height: 28pt; margin-top: 15px; margin-bottom: 0 !important}
h2 { padding-top: 0; margin-top: 0; font-size: 20pt; margin-bottom: 0}
h3{font-weight: bold; font-size: 12pt; color: #777; text-transform: uppercase; margin: 18px 0 0 0;}
h4 { padding-top: 0; margin-top: 0; font-size: 20pt; margin-bottom: 10px}
p{margin: 8px 0 20px 0; line-height: 18px;}
a, a:visited{color: #72B6E5; text-decoration: none;}
a:hover{text-decoration: underline;}
sup {font-size: 8pt}
li {font-size: 11pt; line-height: 16pt }

.wrapper{display: block; padding: 4px 30px 0 30px;}
.map{background-color:#000; position: absolute; top: 0; left: 0; bottom: 0; width: 80%; *height:100%;}
.sidepanel{background-color:#222; position: absolute; top: 0; right: 0; bottom: 0; width: 20%; height: 100%; overflow: auto;}
.context{ font-size: 11pt; color: #999; padding: 5px 0 0 0;}
.subheader{border-bottom: 1px solid #555;}
.footer{border-top: 1px solid #555; margin-top: 5px;}
.titleBlock{text-align: right;}
.icon-text {font-size: 12pt; color: black}
.fa-stack {width: 1em !important; font-size: 24pt}

p.ref, i.note { font-size: 10pt; font-style: italic;}
i.note {display: none;}

.button-small { 
	font-size: 80%; 
	background: #555;
	color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	float: right;
	margin: 20px 0 0 0;
}
.button-medium {
	font-family: "Roboto";
	font-size: 90%; 
	font-weight: 400;
	background: #555;
	color: #ddd !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin: 5px;
}