/* Change the styles below in order to customize your template */

body{font-family: Helvetica, Arial; font-weight: regular; font-size: 12pt; color: #CBCBCB; background-color: #333; margin: 0;}
h1{font-weight: bold; font-size: 34pt; letter-spacing: -1px; color: #FFF; line-height: 28pt; margin-bottom: 0 !important}
h3{font-weight: bold; font-size: 10pt; color: #777; text-transform: uppercase; margin: 18px 0 0 0;}
p{margin: 8px 0 20px 0; line-height: 18px;}
a, a:visited{color: #72B6E5; text-decoration: none;}
a:hover{text-decoration: underline;}
sup {font-size: 8pt}

.wrapper{display: block; padding: 4px 30px 0 30px;}

.map{background-color:#000; position: absolute; top: 0; left: 0; bottom: 0; width: 80%; *height:100%;}
.sidepanel{background-color:#222; position: absolute; top: 0; right: 0; bottom: 0; width: 20%; height: 100%; overflow: auto;}

.context{font-family: Helvetica, Arial; font-size: 9pt; color: #999; padding: 5px 0 0 0;}
.subheader{border-bottom: 1px solid #555;}
.footer{border-top: 1px solid #555; margin-top: 5px;}
.titleBlock{text-align: right;}
p.ref { font-size: 9pt; font-style: italic}

li {font-size: 10pt; line-height: 16pt }
.icon-text {font-size: 12pt; color: black}
.fa-stack {width: 1em !important; font-size: 24pt}
h2 { padding-top: 0; margin-top: 0}